#container {
  display: grid;
  width: 960px;
  height: 960px;
  grid-template-columns: repeat(16, 1fr);
}

.grid-item {
  height: auto;
  width: auto;
  background-color: grey;
  text-align: center;
}