html {
  font-family: Helvetica;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid {
  display: grid;
  border-style: solid;
  margin: 20px;
  width: 960px;
  height: 960px;
  background-color: rgb(233, 233, 233);
  grid-template-columns: repeat(16, 1fr);
}

.tile {
  height: auto;
  width: auto;
  text-align: center;
}